<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body id="body">
    
    <%- include("includes/navbar.ejs")%>
    
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="project-form" action="/projects/create" method="POST">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="title" id="tbody">Title *</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter title">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="summary" id="tbody">Summary *</label>
                        <input type="text" class="form-control" name="summary" placeholder="Enter summary">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="budget" id="tbody">Budget *</label>
                        <input type="text" class="form-control" name="budget" placeholder="Enter budget amount e.g. 345678.90">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="starting_date" id="tbody">Start Date *</label>
                        <input type="date" class="form-control" name="starting_date">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="end_date" id="tbody">End Date</label>
                        <input type="date" class="form-control" name="end_date">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="employee_id" id="tbody">Employee ID *</label>
                        <input type="text" class="form-control" name="employee_id" placeholder="Enter employee ID">
                    </div>
                    <div id="tbody">* required</div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-submit-custom" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>