#nav-bar {
  background-color: var(--bs-indigo);
}

#nav-bar-text {
  color: white;
}

#body {
  background-color: rgb(43, 42, 51);
}

#thead {
  color: white;
}

#tbody {
  color: rgb(255, 255, 255);
}

.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: rgb(43, 42, 51);
  cursor: pointer;
  border: 2px solid var(--bs-indigo);

  top: 15%;
  left: 85%;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: var(--bs-indigo);
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bs-indigo);
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: var(--bs-indigo);
  transition: 0.2s;
}

#show-btn {
  background-color: var(--bs-indigo);
  border-radius: 12px;
  border: none;
}

#show-btn:hover {
  background-color: #5705db;
}

#submit {
  background-color: var(--bs-indigo);
  border-radius: 6px;
  border: none;
}

#submit:hover {
  background-color: #5705db;
}

#card {
  text-align: center;
}

#row {
  margin-top: 4rem;
}

#row-2 {
  margin-top: 2rem;
}

#row-3 {
  margin-top: 2rem;
}

#row-4 {
  margin-top: 2rem;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#row-container {
  margin: auto;
  max-width: 750px;
}

#card {
  /*background-color: rgba(18,49,126,0.23);*/
}

#card-container-layout {
  min-height: 250px;
  border-radius: 32px;
  max-width: 280px;
  margin: auto;
  background-color: rgba(174, 178, 185, 0.23);
  color: white;
}

#card-container {
  min-height: 250px;
  border-radius: 32px;
  max-width: 1350px;
  margin: auto;
  background-color: rgba(174, 178, 185, 0.23);
  color: white;
}

.dropbtn {
  background-color: var(--bs-indigo);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover .dropbtn {
  background-color: #5705db;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: var(--bs-indigo);
}

#paragraph {
  margin-bottom: 32px;
}

#navbar-div {
  display: flex;
  justify-content: space-between;
}

#navbar-items {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* ERROR PAGE STYLE */

.main {
  margin-top: 15%;
}

.st0 {
  fill: #fff;
}

.st2 {
  fill: #5d89af;
}

.st3 {
  fill: #709abf;
}

.st4,
.st6 {
  fill: #fff;
  stroke: #b3dcdf;
  stroke-miterlimit: 10;
}

.st6 {
  stroke: #5d89af;
  stroke-width: 2;
}

.st7,
.st8,
.st9 {
  stroke: #709abf;
  stroke-miterlimit: 10;
}

.st7 {
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}

.st8,
.st9 {
  fill: #fff;
}

.st9 {
  fill: none;
}

.st10

#cloud1 {
  animation: cloud003 15s linear infinite;
}

#cloud2 {
  animation: cloud002 25s linear infinite;
}

#cloud3 {
  animation: cloud003 20s linear infinite;
}

#cloud4 {
  animation: float 4s linear infinite;
}

#cloud5 {
  animation: float 8s linear infinite;
}

#cloud7 {
  animation: float 5s linear infinite;
}

#tracks {
  animation: slide 650ms linear infinite;
}

#bumps {
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(1px);
  }
  100% {
      transform: translateY(0px);
  }
}

#car-layers {
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(1000px);
  }
}

@keyframes slide {
  from {
      transform: translateX(0px);
  }
  to {
      transform: translateX(100px);
  }
}


/* @keyframes cloudFloat {
0% { transform: translateX(0) translateY(3px); }
100% { transform: translateX(1000px) translateY(0); }
} */

@keyframes cloud001 {
  0% {
      transform: translateX(-1000px) translateY(3px);
  }
  100% {
      transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud002 {
  0% {
      transform: translateX(-1000px) translateY(3px);
  }
  100% {
      transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud003 {
  0% {
      transform: translateX(-1000px) translateY(3px);
  }
  100% {
      transform: translateX(1000px) translateY(0);
  }
}

@keyframes float {
  0% {
      transform: translateY(0px) translateX(0);
  }
  50% {
      transform: translateY(8px) translateX(5px);
  }
  100% {
      transform: translateY(0px) translateX(0);
  }
}

#bracefront,
#braceback {
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% {
      transform: translateX(-2px);
  }
  25% {
      transform: translateX(3px);
  }
  50% {
      transform: translateX(-2px);
  }
  75% {
      transform: translateX(3px);
  }
  100% {
      transform: translateX(-2px);
  }
}
